.jumbotron{
    background-color: violet;
    border:2px solid violet;
    text-decoration-color: white;
}
img{
    align-items: center;
    align-content: center;
    align-self: center;
    border-radius: 50%;
    height: 150px;
    width: 200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }